/* @import url('https://fonts.googleapis.com/css?family=Montserrat:700|Open+Sans&display=swap'); */

/* @import url('./bg1.png'); */
/* 
body{
  background-image: url("./bg1.png")
} */

body{
  font-size: 16px;
  background-image: ('src/images/bg1.png');
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  overflow-x: hidden;
  z-index: 1;
}
/* 
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top: 4em;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

nav {
  position: fixed;
  left: 60em;
  top: 6em;
  z-index: 100;
}

.App {
  text-align: center;
}

.App-header {
  position: relative;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  top: 4em;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

/* header h1{
  font-size: 1em;
  font-weight: 400;
  padding: 2em;
  margin-right: 50em;
} */
header h1{
  margin-top: 1%;

}

.heading-background {
  position: fixed;
  opacity: .05;
  font-size: 25em;
  left: -.2em;
  top: -.5em;
  z-index: -100;
  color: white;
}

nav li {
  display: inline-block;
  cursor: pointer;
}

nav li .link{
  text-decoration: none;
  color: black;
  padding: 0em;
  margin-left: 125px;
  opacity: .5;
  transition: all .3s ease-in-out;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;

}

li .link:hover{
  opacity: 1;
}
.active {
  color: black;
  opacity: 1;
}

.header-title button{
  background: rgb(143, 137, 137);
  border: 0px;
  padding: 1em 3em;
  transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -ms-transition: all .2s ease-in-out;
  -o-transition: all .2s ease-in-out;
}
.header-title button:hover{
  opacity: .8;
}

.header-title button a{
  color: white;
  text-decoration: none;
}

.header-title {
  position: relative;
  font-size: 3em;
  text-align: center;
  
}

.about{
  display: flex;
  flex-direction: row;
}

.about-content{
  position: relative;
  left: 15em;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.about-content h1{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5em;
  text-align: left;
}

.about-content p {
  font-size: 1.3em;
  text-align: left;
  width: 37em;
}

.work{
  position: relative;
  display: flex;
  flex-direction: column;
  left: 0em;
  top: 8em;
  align-items: flex-start;
  padding-left: 15px;
  padding-right: 15px;
}

.work .heading {
  font-size: 5em;
  text-align: left;
}

.work .work-content{
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-gap: 2em;
}

.contact {
  background-image: ('src/images/bg1.png');
  position: relative;
  top: 20em;
  left: 15em;
  text-align: left;
}
.contact h1 {
  background-image: ('src/images/bg1.png');
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 5em;
  text-align: left
}

.contact .email{
  background-image: ('src/images/bg1.png');
  color: black;
  font-size: 2em;
}

.contact li {
  background-image: ('src/images/bg1.png');
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 1em;
  margin-left: 0;
  font-size: 2em;
}

.contact li a{
  background-image: ('src/images/bg1.png');
  text-decoration: none;
  color: black;
}

.footer {
  background-image: ('src/images/bg1.png');
  position: relative;
  top: 2em;
  padding: 1em;
}

footer a {
  background-image: ('src/images/bg1.png');
  text-decoration: none;
  border-color: grey;
  
}

img {
  width: 45%;
  align-items: center;
}

.heading-background{
  background-image: ('src/images/bg1.png');
}

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  body{
    font-size: 6px;
  }

  header h1{
    font-size: 5em;
    padding: 1em;
    margin-right: 0em;
  }

  .heading-background {
    display: none;
  }

  nav {
    display: none;
  }

  .header-title{
    font-size: 3em;
    text-align: left;
    top: 1em;
    left: 1em;
  }
   .about{
     position: relative;
     display:flex;
     top: -30em;
   }
.about-content{
  left:2em;
}
   .about-content p{
     
     text-align: left;
     width: 300px;
   }

   .work{
     left: 2em;
     top: 2em;
     align-items: flex-start;
   }

   .work .work-content{
     display:grid;
     grid-template-columns: 1fr;
     grid-gap: 5em;
   }

.contact {
  width: 15em;
  height: 2em;
}

.contact h1{
  font-size: 3em;
}

.contact .email {
  font-size: 3.5em;
}

.contact li {
  display: block;
  padding: 2em;

}

.contact li a{
  font-size: 2.5em;
}

.footer {
  top: 4em;
  padding: 1em;
  font-size: 2em;
}
}

